*
{
    margin: 0;
    padding:0;
}
body
{
    font-family: sans-serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #545352, #110e05);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 80px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.fa-bars
{
    color: #fff;
    font-size: 30px !important;
}
.navbar-toggler
{
    outline: none !important;
}
#banner
{
    background: #fffbf1;
    color: #000000;
}
.main-image img
{
    height: 700px;
    
}
.container{
    position: relative;
}
.text-block{
    position:absolute;
    width:auto;
    top: 20px;
    left:20px;
    background-color: #f9f7f3;
    color: #110e05;
    transform: translate(0%, 20%);
    padding-left: 20px;
    padding-right: 20px;
}
.p1{
    font-family: 'Merriweather';
    font-size: 20px;
}
.Welcome{
    font-family: 'Lobster', cursive;
}
/*-------------About us------------*/
#About-Us{
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 100px;
}
.about-info{
    font-family: "Merriweather";
    font-size: 20px;
    color: #110e05
}
.about-info2{
    font-family: "Merriweather";
    font-size: 20px;
    color: #110e05;
}
.about-title{
    text-align: center;
}
.column {
    float: left;
    width: 33.33%;
    padding: 5px;
}
  
/* Clear floats after image containers */
.row1::after {
    content: "";
    clear: both;
    display: table;
}
/*--------Gallery-------------*/
.Gallery{
    text-align: center;
    margin-top: 3%
}
/* ------------Service section------------ */
.service-img{
    width:100px;
    margin-top:20px;
}
#Services{
    padding: 40px 0;
    background: #f8f9fa;
    padding-bottom: 10px;
    padding-top: 100px;
}
.title{
    text-align: center;
}
.col-services {
    float: left;
    width: 33.33%;
    padding: 18px;
}
.info{
    font-family: "Merriweather";
    font-size: 15px;
    color: #110e05
} 
/* Clear floats after image containers */
.row-ser::after {
    content: "";
    clear: both;
    display: table;
}
.row-ser{
    column-gap: 25px;
}

/*------------ Stylists-------------*/
#stylists{
    background: #fcfaf6;
    padding-bottom: 25px;
    padding-top: 100px;
}
.row-sty::after {
    content: "";
    clear: both;
    display: table;
}
.row-sty{
    column-gap: 40px;
}
/*-------Address---------*/
.col-apt{
    float: left;
    width: 33.33%;
    padding: 10px;
}
.row-con::after {
    content: "";
    clear: both;
    display: table;
}
.apt{
    font-family: "Merriweather";
    font-size: 20px;
    color: #110e05
}
.a-tit{
    font-family: "Merriweather";
    font-size: 24px;
    color: #110e05;
    font-weight: bold;
}
#Contact-us{
    padding: 40px 0;
    background: #f8f9fa;
    padding-bottom: 10px;
    padding-top: 100px;
}

/* Appointment--------*/
#Appt{
    padding: 40px 0;
    background: #fcfaf6;
    padding-bottom: 20x;
    padding-top: 100px;
}

footer {
    text-align: center;
    background-image: linear-gradient(to right, #545352, #110e05);
    color: white;
}
.foot{
    font-size: small;
}